<!DOCTYPE html>
<html data-ng-app="cmsAdmin">
<head>
    <title>Cms Admin</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="Cms, admin">
    <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
    <!-- Application styles-->
    <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
</head>
<body>
    <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
    <script src="base.js"></script>
    <script src="config.js"></script>
    <script src="cmsAdmin.js"></script>
    <script src="services.js"></script>
    <script src="directive.js"></script>
</body>
</html>
