<!DOCTYPE html>
<html ng-app="admin">
<head>
    <title>CmsAdmin</title>
    <link rel="stylesheet" href="styles/bootstrap.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="styles/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
    <link rel="stylesheet" href="styles/app.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="styles/app-rtl.css" data-ng-if="app.layout.isRTL">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/simple-line-icons.css">
    <link rel="stylesheet" href="styles/ng-grid.css"><!--grid-->
    <link rel="stylesheet" ng-href="{{app.layout.theme}}" ng-if="app.layout.theme">
</head>
<body ng-class="{'layout-fixed' : app.layout.isFixed, 'layout-boxed' : app.layout.isBoxed,'aside-collapsed' : app.layout.isCollapsed, 'aside-float': app.layout.isFloat}">
    <div class="wrapper ng-scope" ng-controller="AppController">
        <header class="topnavbar-wrapper" ng-include="'Pages/topnavbar.htm'"></header>

        <aside class="aside ng-scope" ng-include="'Pages/leftnavbar.htm'" ng-controller="SidebarController"></aside>

        <aside ng-include="'Pages/rightsidebar.htm'" class="offsidebar"></aside>

        <section>
            <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper"></div>
        </section>

        <footer ng-include="'Pages/footernavbar.htm'"></footer>
    </div>

    <script src="scripts/base.js"></script>
    <script src="scripts/ng-grid.min.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/providers.js"></script>
    <script src="scripts/router.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/screenfull.js"></script>
    <script src="scripts/modernizr.js"></script><!--This is used to hide the right side bar-->
</body>
</html>
