################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoolHorse.Cms.Models/bin/Debug
/CoolHorse.Cms.Models/obj/Debug
/CoolHorse.Cms.DataStorageServices/bin/Debug
/CoolHorse.Cms.DataStorageServices/obj/Debug
/CoolHorse.Cms.BusinessCore/bin/Debug
/CoolHorse.Cms.BusinessCore/obj/Debug
/CoolHorse.Cms.Utils/bin/Debug
/CoolHorse.Cms.Utils/obj/Debug
/.vs/config
/packages
/CoolHorse.Cms.Tests/bin/Debug
/CoolHorse.Cms.Tests/obj/Debug
/CoolHorse.Cms.BusinessCore/bin
/CoolHorse.Cms.WebClient/CoolHorse.Cms.WebClient.csproj.user
/CoolHorse.Cms.WebClient/Web.Release.config
/CoolHorse.Cms.WebClient/Web.Debug.config
/Backup/Web.Release.config
/Backup/Web.Debug.config
/Backup/CoolHorse.Cms.WebClient.csproj.user
/CoolHorse.Cms.WebClient/bin
/CoolHorse.Cms.WebClient/obj/Debug
/UpgradeLog.htm
/CoolHorse.Cms.Api/bin/Debug
/CoolHorse.Cms.Api/obj/Debug
/CoolHorse.Cms.Api/Web.Release.config
/CoolHorse.Cms.Api/Web.Debug.config
*.user
