<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CmsServices">
      <section name="dataStorageProvider" requirePermission="false" type="CoolHorse.Cms.DataStorageServices.Providers.DataStorageProviderSection, CoolHorse.Cms.DataStorageServices" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <CmsServices>
    <dataStorageProvider defaultProvider="SqlServerProvider">
      <providers>
        <add description="SqlServer Provider" name="SqlServerProvider" type="CoolHorse.Cms.DataStorageServices.Providers.SqlServer.SqlServerProvider, CoolHorse.Cms.DataStorageServices" />
      </providers>
    </dataStorageProvider>
  </CmsServices>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>