<div class="row">
    <!-- Posts column 1-->
    <div class="col-lg-4">
        <div class="panel">
            <a href="">
                <img src="../images/bg1.jpg" class="img-responsive">
            </a>
            <div class="panel-body">
                <p class="clearfix">
                    <span class="pull-left">
                        <small class="mr-sm">
                            By <a href="">Erica Castro</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                    </span>
                    <span class="pull-right">
                        <small>
                            <strong>56</strong>
                            <span>Comments</span>
                        </small>
                    </span>
                </p>
                <h4>
                    <a href="../productdetails.html">Trip down the river</a>
                </h4>
                <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body bg-primary">
                <h3 class="mv-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            </div>
            <div class="panel-body">
                <p class="clearfix">
                    <span class="pull-left">
                        <small class="mr-sm">
                            By <a href="">Erica Castro</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                    </span>
                    <span class="pull-right">
                        <small>
                            <strong>56</strong>
                            <span>Comments</span>
                        </small>
                    </span>
                </p>
            </div>
        </div>
        <div class="panel">
            <a href="">
                <img src="../images/bg4.jpg" class="img-responsive">
            </a>
            <div class="panel-body">
                <p class="clearfix">
                    <span class="pull-left">
                        <small class="mr-sm">
                            By <a href="">Erin Clark</a>
                        </small>
                        <small class="mr-sm">Apr 13, 2015</small>
                    </span>
                    <span class="pull-right">
                        <small>
                            <strong>1000</strong>
                            <span>Comments</span>
                        </small>
                    </span>
                </p>
                <h4>
                    <a href="../productdetails.html">New camera</a>
                </h4>
                <p>
                    Nullam posuere euismod volutpat. Quisque in ligula eget libero tristique varius sed euismod dolor. Sed ultrices, diam varius pellentesque porta, nulla neque auctor elit, quis tempus orci massa eget odio. Duis eleifend elementum commodo.
                    Donec volutpat tristique laoreet. Cras vitae turpis enim, eget malesuada erat. Suspendisse quam leo, gravida a ullamcorper a, interdum id odio. Nullam eu lacus in nibh rutrum ornare at eget tellus.
                </p>
            </div>
        </div>
    </div>
    <!-- Posts column 2-->
    <div class="col-lg-4">
        <div class="panel">
            <a href="">
                <img src="../images/bg5.jpg" class="img-responsive">
            </a>
            <div class="panel-body">
                <p class="clearfix">
                    <span class="pull-left">
                        <small class="mr-sm">
                            By <a href="">Erica Castro</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                    </span>
                    <span class="pull-right">
                        <small>
                            <strong>56</strong>
                            <span>Comments</span>
                        </small>
                    </span>
                </p>
                <h4>
                    <a href="../productdetails.html">Reviewing latests phones</a>
                </h4>
                <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
            </div>
        </div>
        <div class="panel">
            <a href="">
                <img src="../images/bg7.jpg" class="img-responsive">
            </a>
            <div class="panel-body">
                <p class="clearfix">
                    <span class="pull-left">
                        <small class="mr-sm">
                            By <a href="">Allen Stephens</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                    </span>
                    <span class="pull-right">
                        <small>
                            <strong>5600</strong>
                            <span>Comments</span>
                        </small>
                    </span>
                </p>
                <h4>
                    <a href="../productdetails.html">Workspace showcase</a>
                </h4>
                <p>Aenean iaculis diam lectus. Morbi quis purus velit. Maecenas tincidunt tempus sapien id ultrices. Vivamus fermentum libero vel felis aliquet interdum.</p>
            </div>
        </div>
    </div>
    <!-- Posts column 3-->
    <div class="col-lg-4">
        <div class="panel">
            <a href="">
                <img src="../images/bg8.jpg" class="img-responsive">
            </a>
            <div class="panel-body">
                <p class="clearfix">
                    <span class="pull-left">
                        <small class="mr-sm">
                            By <a href="">Erica Castro</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                    </span>
                    <span class="pull-right">
                        <small>
                            <strong>56</strong>
                            <span>Comments</span>
                        </small>
                    </span>
                </p>
                <h4>
                    <a href="../productdetails.html">Incredible panoramic</a>
                </h4>
                <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body bg-purple">
                <h3 class="mv-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            </div>
            <div class="panel-body">
                <p class="clearfix">
                    <span class="pull-left">
                        <small class="mr-sm">
                            By <a href="">Ava Chavez</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                    </span>
                    <span class="pull-right">
                        <small>
                            <strong>999</strong>
                            <span>Comments</span>
                        </small>
                    </span>
                </p>
            </div>
        </div>
        <div class="panel">
            <a href="">
                <img src="../images/bg4.jpg" class="img-responsive">
            </a>
            <div class="panel-body">
                <p class="clearfix">
                    <span class="pull-left">
                        <small class="mr-sm">
                            By <a href="">Danny Ford</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                    </span>
                    <span class="pull-right">
                        <small>
                            <strong>1000</strong>
                            <span>Comments</span>
                        </small>
                    </span>
                </p>
                <h4>
                    <a href="../productdetails.html">Sunset in the forest</a>
                </h4>
            </div>
        </div>
        <div class="panel">
            <a href="">
                <img src="../images/bg5.jpg" class="img-responsive">
            </a>
            <div class="panel-body">
                <p class="clearfix">
                    <span class="pull-left">
                        <small class="mr-sm">
                            By <a href="">Danny Ford</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                    </span>
                    <span class="pull-right">
                        <small>
                            <strong>1000</strong>
                            <span>Comments</span>
                        </small>
                    </span>
                </p>
                <h4>
                    <a href="../productdetails.html">Tech review</a>
                </h4>
            </div>
        </div>
    </div>
</div>