<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" class="mb-sm btn btn-green" ng-click="createCategory()">
            新增</button>
        <button type="button" class="mb-sm btn btn-primary" ng-click="updateCategory()">
            修改</button>
        <button type="button" class="mb-sm btn btn-default" ng-click="deleteCategory()">
            删除</button>
        <form class="form-horizontal ng-pristine ng-valid">
            <div class="input-group">
                <input type="text" placeholder="输入搜索条件..." class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        <em class="fa fa-search"></em>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="table-responsive">
        <div ng-grid="gridOption">
        </div>
    </div>
</div>
