<form id="newsEditForm" action="" style="position:relative">
    <div class="panel col-md-10">
        <div class="panel-body">
            <button type="button" class="mb-sm btn btn-green" ng-click="save()">
                保存
            </button>
            <button type="button" class="mb-sm btn btn-primary" ng-click="cancel()">
                取消
            </button>
        </div>
    </div>
    <div class="col-md-10">
        <div class="form-group">
            <div>
                <label class="control-label">模板</label>
                <select name="select" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched">
                    <option value="">Nothing</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
            </div>
            <br />
            <div>
                <label class="control-label">类别</label>
                <select ng-model="selectedCategoryId" name="optCategory" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
                        data-ng-options="o.Id as o.Title for o in availableCategories">
                    <option value="">-- 请选择类别 --</option>
                </select>
            </div>
            <br />
            <div>
                <label class="control-label">标题</label>
                <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" name="txtTitle" ng-model="model.Title" />
            </div>
        </div>

        <div class="panel panel-default">
            <div class="newpost-content">
                <div class="editor-wrapper">
                    <textarea style="opacity: 0; width: 100%;" id="txtContent" name="txtContent" class="post" aria-hidden="true" ng-model="model.Content"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</form>
<script src="scripts/tinymce/tinymce.min.js"></script>
<script src="scripts/tinymce/editor.js"></script>
