<script type="text/ng-template" id="ProductTemplate.html">
<div class="panel-body text-md">
    <p>
        Praesent bibendum eros urna, in mattis est. Curabitur a purus urna, sit amet auctor erat. Praesent pellentesque augue eu tellus facilisis pretium. Aenean sollicitudin facilisis tortor eu mollis. Vivamus feugiat faucibus enim. Sed ut semper
               leo. Etiam feugiat risus massa. Nunc et magna in metus pharetra ultricies ac sit amet justo. Donec eu dolor sem, non auctor sapien. Suspendisse nisl nulla, interdum at fermentum eget, adipiscing in elit.
    </p>
    <p>Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Praesent blandit venenatis mauris ac cursus. Nulla commodo interdum magna consectetur lacinia. Maecenas vitae adipiscing mauris. Nam sodales sollicitudin adipiscing.</p>
    <br>
    <div class="row">
        <div class="col-xs-4">
            <a href="">
                <img src="/images/bg4.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-4">
            <a href="">
                <img src="/images/bg5.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-4">
            <a href="">
                <img src="/images/bg7.jpg" class="img-responsive">
            </a>
        </div>
    </div>
    <br>
    <p>
        Praesent tristique dui eu nunc fringilla et iaculis magna ornare. Proin sed erat sit amet metus rhoncus tincidunt. Vivamus commodo, tortor ut interdum posuere, urna risus aliquet purus, eu fringilla dui neque quis nisi. Proin posuere gravida
               ipsum, a pretium augue commodo eget. In id elit nulla. Donec nec magna a diam eleifend facilisis non in urna. Nam enim libero, lacinia a tristique a, accumsan sed purus. Phasellus ullamcorper rhoncus sagittis.
    </p>
    <p>
        Sed eu rhoncus magna. Morbi non dui elementum nisl ultrices tincidunt. Nullam sagittis hendrerit erat, sit amet gravida ante tristique non. Nam arcu quam, aliquet eget varius sed, placerat et elit. Morbi nec luctus eros. Cras rutrum scelerisque
               auctor. Praesent malesuada erat ut tellus egestas sagittis. Etiam feugiat risus massa. Aliquam eget turpis eget dui eleifend suscipit ac sed dolor. Sed accumsan adipiscing enim. Sed auctor dignissim fringilla. Sed id turpis tellus. Nam
               vel tristique dolor. Ut scelerisque ligula tellus. Duis accumsan, est vel convallis dignissim, est massa pharetra ipsum, eu auctor nunc mi ac libero. Integer fermentum molestie massa at congue. Vestibulum congue tempus odio ac posuere.
               Integer lorem metus, rutrum non rhoncus sed, fringilla interdum urna.
    </p>
    <hr>
</div>
</div>
</script>
<form id="productEditForm" action="" style="position: relative">
    <div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="mb-sm btn btn-green" ng-click="save()">
                保存
            </button>
            <button type="button" class="mb-sm btn btn-primary" ng-click="cancel()">
                取消
            </button>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label class="control-label">类别</label>
            <select ng-model="selectedCategoryId" name="optCategory" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
                data-ng-options="o.Id as o.Title for o in availableCategories">
                <option value="">-- 请选择类别 --</option>
            </select>
        </div>
        <br />
        <div>
            <label class="control-label">标题</label>
            <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" name="txtTitle" ng-model="model.Title" />
        </div>
    </div>

    <div class="panel panel-default">
        <div class="newpost-content">
            <div class="editor-wrapper">
                <textarea style="opacity: 0; height: 480px; width: 100%;" id="txtContent" name="txtContent" class="post" aria-hidden="true" ng-model="model.Content"></textarea>
            </div>
        </div>
    </div>
</form>
<script src="scripts/tinymce/tinymce.min.js"></script>
<script src="scripts/tinymce/editor.js"></script>
