<div class="panel panel-default">
    <div class="panel-heading">
        <div class="bb">
            <h2 class="text-lg" ng-bind-html="model.Title"></h2>
        </div>
    </div>
    <div class="panel-body text-md">
        <div ng-bind-html="model.Content"></div>
        <hr>
        <div role="group" aria-label="..." class="btn-group">
            <button type="button" class="btn btn-default">
                <em class="fa fa-facebook text-muted"></em>
            </button>
            <button type="button" class="btn btn-default">
                <em class="fa fa-twitter text-muted"></em>
            </button>
            <button type="button" class="btn btn-default">
                <em class="fa fa-google-plus text-muted"></em>
            </button>
            <button type="button" class="btn btn-default">
                <em class="fa fa-tumblr text-muted"></em>
            </button>
            <button type="button" class="btn btn-default">
                <em class="fa fa-pinterest text-muted"></em>
            </button>
            <button type="button" class="btn btn-default">
                <em class="fa fa-share-alt text-muted"></em>
            </button>
        </div>
    </div>
</div>