<div class="panel panel-info">
    <div class="panel-body">
        <div class="row mb-lg">
            <div class="col-lg-4 col-xs-6 br pv">
                <div class="row">
                    <div class="col-md-2 text-center visible-md visible-lg">
                        <em class="fa fa-plane fa-4x text-muted"></em>
                    </div>
                    <div class="col-md-10">
                        <h4>Bill Mitchelle</h4>
                        <address></address>Nowhere 1024
                        <br>Happy St., 50487
                        <br>Neverland
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 br pv">
                <div class="row">
                    <div class="col-md-2 text-center visible-md visible-lg">
                        <em class="fa fa-truck fa-4x text-muted"></em>
                    </div>
                    <div class="col-md-10">
                        <h4>Lloyd Gonzales</h4>
                        <address></address>Basilisa 2145
                        <br>Mate, Cliff., 20145
                        <br>Moon
                    </div>
                </div>
            </div>
            <div class="clearfix hidden-md hidden-lg">
                <hr>
            </div>
            <div class="col-lg-4 col-xs-12 pv">
                <div class="clearfix">
                    <p class="pull-left">INVOICE NO.</p>
                    <p class="pull-right mr">00004879</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left">Date</p>
                    <p class="pull-right mr">25/08/2014</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left">Due Date</p>
                    <p class="pull-right mr">30/08/2014</p>
                </div>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
        <img src="images/bg4.jpg"/>

        <h3 class="mt0">Invoice 00004879</h3>
        <hr>
        <div class="row mb-lg">
            <div class="col-lg-4 col-xs-6 br pv">
                <div class="row">
                    <div class="col-md-2 text-center visible-md visible-lg">
                        <em class="fa fa-plane fa-4x text-muted"></em>
                    </div>
                    <div class="col-md-10">
                        <h4>Bill Mitchelle</h4>
                        <address></address>Nowhere 1024
                        <br>Happy St., 50487
                        <br>Neverland
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 br pv">
                <div class="row">
                    <div class="col-md-2 text-center visible-md visible-lg">
                        <em class="fa fa-truck fa-4x text-muted"></em>
                    </div>
                    <div class="col-md-10">
                        <h4>Lloyd Gonzales</h4>
                        <address></address>Basilisa 2145
                        <br>Mate, Cliff., 20145
                        <br>Moon
                    </div>
                </div>
            </div>
            <div class="clearfix hidden-md hidden-lg">
                <hr>
            </div>
            <div class="col-lg-4 col-xs-12 pv">
                <div class="clearfix">
                    <p class="pull-left">INVOICE NO.</p>
                    <p class="pull-right mr">00004879</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left">Date</p>
                    <p class="pull-right mr">25/08/2014</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left">Due Date</p>
                    <p class="pull-right mr">30/08/2014</p>
                </div>
            </div>
        </div>

    </div>
</div>