<!DOCTYPE html>
<html ng-app="admin">
<head>
    <title>CmsAdmin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/ng-grid.css">
    <!--grid-->
    <link rel="stylesheet" href="styles/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="styles/ngDialog.min.css">
    <link rel="stylesheet" ng-href="{{app.layout.theme}}" ng-if="app.layout.theme">
</head>
<body ng-class="{'layout-fixed' : app.layout.isFixed, 'layout-boxed' : app.layout.isBoxed,'aside-collapsed' : app.layout.isCollapsed, 'aside-float': app.layout.isFloat}">
    <div class="wrapper ng-scope" ng-controller="AppController">
        <header class="topnavbar-wrapper" ng-include="'Pages/topnavbar.htm'"></header>

        <aside class="aside ng-scope" ng-include="'Pages/leftnavbar.htm'" ng-controller="SidebarController"></aside>

        <aside ng-include="'Pages/rightsidebar.htm'" class="offsidebar"></aside>

        <section>
            <div ui-view="" autoscroll="false" class="content-wrapper"></div>
        </section>

        <footer ng-include="'Pages/footernavbar.htm'"></footer>
    </div>

    <form id="form" class="modal fade">
        <div class="ngdialog-content">
            <div class="modal-header">
                <h4 class="modal-title ng-binding">新增类别</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtSlug" class="ng-binding">类别名称</label>
                    <input type="text" class="form-control ng-pristine ng-valid valid ng-touched" ng-model="ngDialogData.Title" name="categoryTitle" id="categoryTitle">
                </div>
                <div class="form-group">
                    <label for="txtExcerpt" class="ng-binding">描述</label>
                    <textarea class="form-control ng-pristine ng-untouched ng-valid" id="txtExcerpt" rows="4" ng-model="ngDialogData.Description"> </textarea>
                </div>
                <div class="modal-buttons">
                    <button type="button" ng-click="saveFromDialog(ngDialogData)" class="btn btn-success ng-binding">Save</button>
                    <button type="button" class="btn btn-default ng-binding" data-dismiss="modal" ng-click="closeThisDialog()">Cancel</button>
                </div>
            </div>
        </div>
    </form>

    <script src="scripts/jquery-3.1.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/jquery.validate.min.js"></script>

    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/ui.bootstrap.min.js"></script>
    <script src="scripts/ui-bootstrap-tpls.min.js"></script>

    <script src="scripts/ng-grid.min.js"></script>
    <script src="scripts/ngDialog.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/modernizr.min.js"></script>
    <script src="scripts/admin.js"></script>
</body>
</html>
